#root {
  margin: 0;
  display: flex;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  margin: 0;
  width: 40vw;
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebarPersonal {
  display: flex;
  flex-flow: column;
  width: 75%;
}

label {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.fullName {
  display: flex;
  gap: 20px;
}

.address{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.cvContainer {
  background-color: red;
  width: 794px;
  height: 1123px;
  margin: 120px;
  position: relative;
}