#root {
  margin: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

::-webkit-scrollbar {
  width: 1.1em;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 100vw;
  border: 2px solid rgb(206, 206, 206);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(202, 0, 0);
}

.sidebar::-webkit-scrollbar-thumb {
  border: 2px solid blue;
}

.sidebar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  background-color: blue;
  margin: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll;
}

.sidebarSection {
  display: flex;
  flex-flow: column;
  width: 80%;
  background-color: brown;
  margin: 10px;
  border-radius: 10px;
}

.sidebarUpper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 15px;
}

.sidebarLower {
  display: flex;
  flex-flow: column;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  background-color: brown;
  padding: 10px;
  padding-top: 0px;
  border-radius: 10px;
  gap: 5px;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.arrow {
  background-image: url(./assets/arrow.svg);
  background-size: 100%;
  width: 20px;
  height: 20px;
  transition: all 0.4s ease;
  margin-left: auto;
}

.personIcon {
  background-image: url(./assets/person.svg);
}

.workIcon {
  background-image: url(./assets/work.svg);
}

.schoolIcon {
  background-image: url(./assets/school.svg);
}

.personIcon,
.workIcon,
.schoolIcon {
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.down {
  transform: rotate(180deg);
}

.sidebarPersonal {
  margin-top: 50px;
}

label {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

input {
  border-radius: 5px;
  height: 1.8em;
  border: none;
  padding-inline: 5px;
}

textarea {
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.address {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.fullName,
.jobEmployer,
.dates,
.nameCity,
.qualDate {
  display: flex;
  gap: 15px;
}

textarea {
  resize: none;
}

.experienceList {
  background-color: aqua;
  width: 78%;
  border-radius: 10px;
  animation: growOut 300ms ease-in-out forwards;
  transform-origin: top center;
  margin-bottom: 10px;
}

.experienceList > div {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.bin {
  background-image: url(./assets/trash.svg);
  background-size: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.edit {
  background-image: url(./assets/edit.svg);
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

.cvContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv {
  background-color: #ffffff;
  width: 694px;
  min-height: 1023px;
  margin: 120px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 50px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.cvUpper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cvMiddle {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.cvName {
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 130px;
}

.cvName h2 {
 padding-top: 10px;
}

.detailsAbout {
  overflow-wrap: break-word;
  width: 480px;
  min-width: 200px;
  white-space: pre-line;
}

.cvProfile div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cvProfile > h2 {
  border-block: solid 1px black;
  padding: 10px;
  margin-block: 10px;
}

.phoneIcon {
  background-image: url(./assets/phone.svg);
}

.emailIcon {
  background-image: url(./assets/email.svg);
}

.websiteIcon {
  background-image: url(./assets/link.svg);
}

.phoneIcon,
.emailIcon,
.websiteIcon {
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.profilePic {
  background-image: url(./assets/profilepic.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-inline: 25px;
}

.work {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.workDates {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.workDetails {
  white-space: pre-line;
}