#root {
  margin: 0;
  display: flex;
}

.sidebar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  background-color: blue;
  margin: 0;
  width: 40vw;
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebarSection {
  display: flex;
  flex-flow: column;
  width: 75%;
  background-color: brown;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}

.sidebarUpper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.up {
  background-image: url(./assets/up.svg);
  background-size: 100%;
  width: 20px;
  height: 20px;
}

.down {
  background-image: url(./assets/down.svg);
  background-size: 100%;
  width: 20px;
  height: 20px;
}


.sidebarPersonal {
  margin-top: 50px;
}

label {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

input {
  border-radius: 5px;
  height: 1.8em;
  border: none;
  padding-left: 5px;
}

textarea {
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.fullName {
  display: flex;
  gap: 20px;
}

.address {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.fullName,
.jobEmployer,
.dates,
.nameCity,
.qualDate {
  display: flex;
  gap: 20px;
}

textarea {
  resize: none;
}

.cvContainer {
  background-color: red;
  width: 794px;
  height: 1123px;
  margin: 120px;
  position: relative;
}
